/*
PersonalPortfolio2
- - - - - - - - - -
https://diznicolasamor.github.io/
Author:  Diz, Nicolás Amor (https://github.com/DizNicolasAmor/)
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sansita');


#background {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: url("images/Portfolio2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* background photos  */
/*
Original background photo: 
https://upload.wikimedia.org/wikipedia/commons/c/c3/Working_lat%28t%29e_%283583874642%29.jpg

Otras fotos copadas y royalty free para el portfolio: 
1) https://cdn.pixabay.com/photo/2015/01/29/18/30/keyboard-616492_960_720.jpg
2) https://cdn.pixabay.com/photo/2014/08/12/12/12/computer-416569_960_720.jpg
3) https://cdn.pixabay.com/photo/2014/04/05/11/08/nobody-314697_960_720.jpg
*/

/*  HEADER  */
.mainContainer{
  padding: 1.5em 2em;
  margin: 5% auto;
  width: 75%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.title, .subtitle{
  font-family: 'Sansita', sans-serif;
  color: Azure;
  text-align: center;  
  margin:0;
  cursor: default;
}

#name{font-size: 8vw;}

#f-e-d{font-size: 4vw;}

#presentation:hover{text-shadow: 0px 3px 6px rgba(0, 0, 0, .4) !important;}
  
#mainButtons{text-align: center;}

.btn{
  font-size: 2vw;
  margin: 1px;
  background: none;
}
.btn:hover{
  color: White !important;
  border: 1px solid blue !important;
}

/* shine effect  */
#presentation{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.9) 30%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.9) 70%);
  -webkit-mask-size: 200%;
  animation: shine 4s infinite;
}
@-webkit-keyframes shine {
  from {-webkit-mask-position: 150%;}
  to {-webkit-mask-position: -50%;}
}
/* end of HEADER*/


/*  ABOUT  */
#about, #contact, #projects{
  display: none;
  text-align: justify;
  cursor: default;
}

p{font-family: 'Open Sans', sans-serif;}

.subtitle{
  font-family: 'Sansita', sans-serif;
  font-size: 4vw;
  color: Black;
  text-align: center;
  margin-bottom: 3%;
  letter-spacing: .7px;
}

.myImage{
  text-align: left;
  border-radius: 5%;
  width: 100%;
}

.container{
  border-radius: 5%;
  padding: 1.5em 2em;
  margin: 5% auto;
  background: rgb(255, 255, 255);
  box-shadow: .5em .5em .5em .5em rgba(0, 0, 0, .4);
  width: 75%;
  min-width: 300px;
  max-width: 600px;
  min-height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  z-index: 1;
}

.close{
  position: absolute; 
  top: 5%; 
  left: 95%;
  color: Black;
  text-align: center;
}
/* end of ABOUT */


/*  PROJECTS  */
.gallery-item-wrapper {
  margin: 10px;
  margin-bottom: 20px;
  display: inline-block;
  width: 200px;
  height: 225px;
  position: relative;
}

.gallery-image {
  width: 200px;
  height: 175px;
  top: 25px;
  
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
}

.gallery-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: LightGrey;
  opacity: 0;
 
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .5s ease;
}

.gallery-image:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .7;
}

.gallery-text {
  position: relative;
  display: inline-block;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  letter-spacing: .7px;
  line-height: 1.2;
  cursor: default;
  
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gallery-description{
  position: relative;
  display: inline-block;
  top: 150px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: default;
  
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.moreProjectsWraper{
  width: 100%;
  text-align: center;
}

#moreProjects{
  font-size: 1.8vw;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px 6px #999999;
  -moz-box-shadow: 2px 2px 6px #999999;
  -webkit-box-shadow: 2px 2px 6px #999999;
  letter-spacing: .7px;
  line-height: 1.2;
}

#moreProjects:hover {
  background: Lavender;
  color: Black !important;
}

.sliderContainer{
  text-align: center;
  position: relative;
  overflow: hidden;
}

#slider {
  display: flex;
  width: 400%;
}

.slider__section {width: 100%;}

/*  CONTACT  */
#mailContainer{display: none;}
