*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAV-BAR */
.navbar {
    position: absolute;
    top: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.2) !important;
    color: White; 
    cursor: default;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}

.navbar-collapse{
    padding: inherit;
}

/* FONTS AND OTHERS */
.presentation{
    margin-top: 25%;
    cursor: default;
}

#arrow-down{
    margin-top: 15% !important;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px;
}

h1, h3{
	font-family: 'Cardo','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    line-height: 32px;
    color: Black;
    font-weight: 300;
    text-align: center;
    cursor: default;
    font-size: xx-large;
    margin-bottom: 20px;
}

h1, h4{
    color: White;
    text-align: center;
}

hr{
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
}

p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(51, 51, 51, 0.8);
    margin: 0 0 11px;
    line-height: 24px;
    cursor: default;
    text-align: justify;
}
h5{
    text-align: center;
}
.project-title{
    font-size: x-large; 
}
.project-description{
    margin-bottom: 20px;
}

/* MAIN GRID */
.grid{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "about about about"
        "projects projects projects"
        "contact contact contact";
}

#header{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, black, #302b63, black);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, black, #302b63, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    grid-area: header;
    color: White;
}

#about{
    background: White;
    grid-area: about;
}

#projects{
    background-color: white;
    grid-area: projects;
}

#contact{
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(white, skyblue);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(white, skyblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-area: contact;
}

#header img, #contact img{
    width: 40px;
    margin: 5px; 
}


@media screen and (min-width: 600px) {
    .grid{
        min-width: 300px;
        grid-template-areas:
            "header header header"
            "about projects projects"
            "contact projects projects";
        }
}

/* SECTIONS */ 
#header, #about, #projects, #contact{
    background-color: White;
    padding: 50px 15%;
}

img{
    border-radius: 2%;
    box-shadow: 5px 5px 10px;
}

#about-description{
    margin-top: 20px;
}

.project-image{
    width: 275px;
    height: 200px;
}

#mail{
    color: DimGrey;
    letter-spacing: 1px;
}